<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-9" />
    <meta
      content="width=device-width, user-scalable=no, initial-scale=0.0, maximum-scale=1.0, minimum-scale=1.0"
      name="viewport"
    />
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <title>Inicio</title>
  </head>
  <body>
    <header th:replace="layout/template :: header" />
    <a th:href="@{/add}">Agregar Persona</a>
    <br />
    <div th:if="${persons != null and !persons.empty}">
      <table>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
        <tr th:each="person : ${persons}">
          <th>Nombre: <span th:text="${person.name}">Display name</span></th>
          <th>
            Apellido:
            <span th:text="${person.last_name}">Display lastName</span>
          </th>
          <th>Email: <span th:text="${person.email}">Display name</span></th>
          <th>
            Teléfono: <span th:text="${person.phone}">Display phone</span>
          </th>
          <th>
            <a
              th:href="@{/edit/} + ${person.id_person}"
              th:text="${person.id_person}"
            />
          </th>
          <th>
            <a
              th:href="@{/delete(id_person=${person.id_person})}"
              th:text="eliminar"
            />
          </th>
        </tr>
      </table>
    </div>
    <div th:if="${persons == null or persons.empty}">
      La lista de personas está vacia.
    </div>
    <footer th:replace="layout/template :: footer" />
  </body>
</html>
